@model IEnumerable<ControleEstoque.App.Models.Supplier>
@{
    ViewData["Title"] = "Não implementado";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div>
    <a asp-action="Index">Voltar ao menu inicial</a>
</div>