@model ControleEstoque.App.Models.Product
@{
    ViewData["Title"] = "Cadastrar";
}

<hr />
<h3>Cadastrar Produto</h3>
<hr />

<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab"><i class="fa fa-edit text-orange"></i>&nbsp;&nbsp;Dados do Produto</a></li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane" id="dadosProduto">
                <div class="box-body no-padding" style="min-height: 450px">
                    <form asp-action="Create">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Ativo</label>
                                <select class="form-control" name="prodActive" id="prodActive">
                                    <option value="false">NÃO</option>
                                    <option value="true" selected="">SIM</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Código de barras</label>
                                <input type="text" class="form-control" name="BarCode" id="BarCode" value="" maxlength="200">
                                <span asp-validation-for="BarCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Descrição</label>
                                <input type="text" class="form-control" name="Description" id="Description" value="" maxlength="300">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Código interno</label>
                                <input type="text" class="form-control" name="ProductCode" id="ProductCode" value="0" maxlength="200">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Preço</label>
                                <input type="text" class="form-control" name="ListPrice" id="ListPrice" value="0" maxlength="200">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Estoque</label>
                                <input type="text" class="form-control" name="Stock" value="0" id="Stock">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Preço Promocional</label>
                                <input type="text" class="form-control" name="PromotionalPrice" value="0" id="PromotionalPrice">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Início Promoção<span data-toggle="tooltip" title="Obrigatório quando o preço promocional for prenchido." class="text-blue"> (?)</span></label>
                                <input type="date" class="form-control" name="PromoStart" value="1900-01-01" id="PromoStart">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Término Promoção<span data-toggle="tooltip" title="Obrigatório quando o preço promocional for prenchido." class="text-blue"> (?)</span></label>
                                <input type="date" class="form-control" name="PromoEnd" value="1900-01-01" id="PromoEnd">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" value="Salvar" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                   <div class="col-md-6">
                        <div class="form-group">
                            <form asp-action="Index">
                                <input type="submit" value="Voltar" class="btn btn-primary" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.tab-content -->
    </div>
    <!-- /.nav-tabs-custom -->
</section>

<div>
    <a asp-action="Index">Voltar à Tela Inicial</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
