@model ControleEstoque.App.Models.Product
@{
    ViewData["Title"] = "Gerenciar Preços";
}

<hr />
<h3>@ViewData["Title"]</h3>
<hr />

<nav class="navbar navbar-dark bg-dark">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class="form-group">
                        <label for="barCode">Código de Barras:</label>
                        <input type="text" class="form-control" name="barCode" value="@ViewData["barCode"]" />
                    </div>
                    <div class="form-group">
                        <label for="description">Descrição:</label>
                        <input type="text" class="form-control" name="description" value="@ViewData["description"]" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </form>
        </div>
    </nav>
</nav>

<div>
    <a asp-action="Index">Voltar à Tela Inicial</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}