@{
    ViewData["Title"] = "Contato";
}

<br />
<br />
<br />

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Email: @ViewData["Email"]</p>

<address>
    <strong>Mais informações: </strong> <a href="https://www.linkedin.com/in/joao-vitor-santos-a4b835212/">Linkedin.com/in/joao-vitor-santos</a>
</address>