@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />

<br />

<div class="row">
    <div class="col-md-3">
        <ul>
            <img src="https://devskin.com/images/software.jpg" alt="Index"/>
        </ul>
    </div>
</div>